# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ide Folders
/.idea
/.vscode
/.vagrant

# Environment
Homestead.json
Homestead.yaml
.env

# Dependencies
/node_modules
/vendor
/.composer
/tmp
/.config

# Other files
/public/hot
/public/storage
/storage/*.key
/.ash_history

database/asu_comunity
.mysql_history
/.rnd